<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">


  <!-- favicon link -->

  <link rel="icon" type="image/x-icon" href="../static/me.ico">

  <!-- jquery cdn link -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- bootstrap cdn -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- fontawsom link -->

  <script src="https://kit.fontawesome.com/88f74a52ae.js" crossorigin="anonymous"></script>

  <!-- font links -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Lobster&family=Luxurious+Roman&family=Montserrat:wght@700&family=Roboto:wght@900&display=swap" rel="stylesheet">

  <!-- css link -->

  <link rel="stylesheet" href="../cv.css">

  <title>Disclaimer</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button type="button" class="btn name navbar-brand" name="button" onclick="hireMeInner()">Bharna</button>
      <button class="navbar-toggler op" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-hamburger" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="collapse navbar-collapse ms-auto op" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#work">Works</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="blank">

  </section>

  <div class="disclaimer-div">
    <h2>Disclaimer</h2><br>
    <p>
      Hello Sir / Madam,
      This website is a tiny effort for the world of mighty web development and the apps & games I made are to show my potential. If you inspect this website you will find every possibility like responsive, media query, inline and external command,
      bootstrap, jquery, javascript, etc. Likewise, I have used single-page program, Object-Oriented-Programming (OOP), and external libs.
    </p>
  </div>

  <section class="blank">

  </section>

  <div class="disclaimer-div">
    <h2>Open for Suggestion</h2>
    <p>
      I hope to learn more and develop this website in all possible means. It would be my pleasure to receive positive suggestions as I’m hoping to make this website a better version. Thank you for everyone in advance. Have a great day.
    </p>
  </div>


  <section class="blank">

  </section>

  <a href="./thankful.html">Thank you</a>



  <script src="../cv.js" charset="utf-8"></script>
</body>
<footer>
  <a href="https://instagram.com/bharnaboss?utm_medium=copy_link"><i class="fa fa-brands fa-instagram footer-links"></i></a>
  <a href="https://t.me/Bharna"><i class="fa fa-brands fa-telegram footer-links"></i></a>
  <a href="mailto:bossbharna@gmail.com"><i class="fas fa-solid fa-envelope footer-links"></i></a>
  <a href="https://www.youtube.com/channel/UCw33gHNll4BSsshkvBlhIuw"><i class="fa fa-brands fa-youtube footer-links"></i></a>
  <a href="https://www.youtube.com/channel/UCy6-mZ48AkBoLUYdrlaZTWg"><i class="fa fa-brands fa-youtube footer-links"></i></a>
</footer>

</html>
